html {
  text-align: center;
  text-shadow: 1px 1px #000000
}

body {
  background-image: url("brain.gif");
  text-align: center;
  max-width: 99.9%;
  margin: auto;
  color: #ffffff;
}

h1 {
  font-size: 42px;
  font-family: 'Bangers', cursive;
  color: #ffffff;
  background-image: url("button.png");
  background-repeat: no-repeat;
  height: 80px;
  background-position: center;
  padding-top: 17px;

}

.BIO {
  opacity: 70%;
  position: absolute;
  left: 460px;
  top: 350px;
}

.CON {
  opacity: 85%;
}

.ASPp {
  opacity: 80%
}

.main {
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  left: 530px;
  top: 400px;

}

.w3-card-4 {
  color: #ffffff;
  font-family: 'Bangers', cursive;
  font-size: 26px;
  width: 20%;
  background-image: linear-gradient(#bfbfbf, #66ccff, #bfbfbf);
  border-radius: 25px;
  position: absolute;
  left: 1485px;
  top: 150px;
}

.H {
  font-family: 'Bangers', cursive
}

a:link {
  color: #ffffff;
}
a:visited{color:#ffffff}
a:hover {
  color: #cc33ff;
}

a:active {
  color: #ffffff;
}

.nav-link {
  background-image: linear-gradient(#bfbfbf, #66ccff, #bfbfbf);
  font-family: 'Bangers', cursive;
}

.nav {
  font-size: 32px;
  text-align: center;

}

footer {
  margin-top: 25px;
}

.Con {
  background-image: url("14.gif")
}

.ASP {
  background-image: url("Zam.gif");
  background-size: 1920px 1280px;
  background-repeat: no-repeat;
}
